body{
    background: #0a0a0a;
    min-height:100vh;
    width: 100%;
    max-width:100%;
    max-height: 100vh;
    padding:0;
    margin:0;
    display:flex;
    align-content:center;
    justify-content:center;
}

.container{
    padding: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@media only screen and (min-width: 600px) {
    .container{
        min-width: 400px;
    }
}

.config-box{
    margin-top:30px;
    height:250px;
    padding:25px;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 2px #151515;
    border: solid 2px #262424;
}

.config-box>form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:100%;
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.text-white{
    color: #ffffff;
}

.btn-submit{
    padding:10px;
    border-radius: 5px;
    border:solid 2px #FCA311;
    background-color: #0a0a0a;
    color:#FCA311;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.05rem;
    letter-spacing: 1px;
    -webkit-transition : border 0.6s ease, color 0.6s ease;
    -moz-transition : border 0.6s ease, color 0.6s ease;
    -o-transition: border 0.6s ease, color 0.6s ease;
    transition: border-color 0.6s linear, color 0.6s ease;
}

.btn-submit:hover{
    color:#FDC05D;
    border-color: #FDC05D;
    cursor:pointer;
}

.btn-submit:disabled{
    color:#232323;
    border-color:#232323;
    cursor:auto;
}

input{
    outline: none !important;
    height:30px;
    border-radius: 5px;
    border-color:#262424;
    background-color:#262424;
    -webkit-transition : border 0.6s ease, color 0.6s ease, box-shadow 0.6s ease;
    -moz-transition : border 0.6s ease, color 0.6s ease, box-shadow 0.6s ease;
    -o-transition: border 0.6s ease, color 0.6s ease, box-shadow 0.6s ease;
    transition: border-color 0.6s linear, color 0.6s ease, box-shadow 0.6s ease;
    color:#ffffff;
    padding:5px;
    font-size: 1.03rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus{
    border-color:#262424;
    box-shadow: 0px 0px 7px 2px #151515;
}
input:hover{
    border-color:#262424;
    box-shadow: 0px 0px 7px 2px #151515;
}

label{
    font-size: 1.04rem;
    color: #959595;
    letter-spacing: 0.07rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-group{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.non-visible{
    display:none;
}

.alert{
    padding:10px;
    border-radius:5px;
}

.alert-danger{
    background-color:#f44336;
    color:#ffffff;
}

.alert-success{
    background-color:#63A346;
    color:#ffffff;
}

.loader {
    border: 8px solid #333333;
    border-top: 8px solid #FCA311;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.flex-row-center{
    display:flex;
    justify-content: center;
}